{% extends 'base.html.twig' %}

{% block title %}Traje {{ suit.name }}{% endblock %}

{% block body %}
    <div class="row">

    </div>
    <h1>Traje {{ suit.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suit.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ suit.name }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ suit.region }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ suit.gender }}</td>
            </tr>
            <tr>
                <th>Actualizado</th>
                <td>{{ suit.updatedAt ? suit.updatedAt|date('Y-m-d H:i:s') : '' }} ({{ suit.updatedBy.name }})</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
        <a class="btn btn-light" href="{{ path('app_suit_index') }}">
            <i class="fa-solid fa-arrow-left"></i> Volver
        </a>

        {{ include('suit/_delete_form.html.twig') }}

        <a class="btn btn-warning" href="{{ path('app_suit_edit', {'id': suit.id}) }}">
            <i class="fa-solid fa-pencil"></i> Editar
        </a>
    </div>
{% endblock %}
