{% set formClass = form.vars.submitted ? 'was-validated' : 'needs-validation' %}

<div class="form-wrapper mt-4">
    {{ form_start(form, {'attr': {'class': formClass}}) }}
    {{ form_errors(form) }}

    {% include 'partials/_form-field.html.twig' with {'field': form.event, 'label': 'Evento'} %}

    {% include 'partials/_form-field.html.twig' with {'field': form.user, 'label': 'Persona'} %}

    {% include 'partials/_form-field.html.twig' with {'field': form.region, 'label': 'Región'} %}

    {% if inventory|length %}
        <div class="mt-4 w-75 mx-auto">
            <h3>Selección de piezas</h3>
            <div class="mt-3">
                <table class="table table-striped">
                    {% for item,values in inventory %}
                        <tr>
                            <td>
                                <label><strong>{{ item }}</strong></label>
                            </td>
                            <td>
                                <select class="form-control" name="item[]">
                                    <option value="">Seleccione...</option>
                                    {% for key,value in values %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="mt-2 mx auto text-center">
                <button type="button" class="btn btn-success" id="btnSave">
                    <i class="fas fa-check"></i> Guardar todo
                </button>
            </div>
        </div>
    {% endif %}
</div>

<script>
    document.addEventListener('turbo:load', () => {
        document.querySelectorAll('select#loan_region').forEach(function (el) {
            if (el.dataset.bound) {
                return
            }

            el.addEventListener('change', () => buildUrl())

            el.dataset.bound = 'true'
        })

        document.querySelectorAll('button#btnSave').forEach(el => el.addEventListener('click', async function () {
                alert('send')
                const form = document.querySelector('form')
                const data = new FormData(form)
                await saveForm(data)
            })
        )
    })

    const saveForm = async (body) => {
        try {
            const response = await fetch('{{ path('app_loan_new') }}', {
                method: 'POST',
                body: body,
            });

            if (!response.ok) {
                const errorText = await response.text();
                throw new Error(`Server error: ${errorText}`);
            }

            const data = await response.json();
            console.log('Success:', data);
        } catch (error) {
            console.error('Fetch error:', error.message);
        }
    }

    const buildUrl = () => {
        const event = document.querySelector('select#loan_event')
        const user = document.querySelector('select#loan_user')
        const region = document.querySelector('select#loan_region')
        const url = new URL('{{ url('app_loan_new') }}')
        url.pathname += '/' + event.value + '/' + user.value
        url.searchParams.append('region', region.value)
        location.href = url.href
    }
</script>