{% extends 'base.html.twig' %}

{% block title %}Asignación {{ user ? user.name : '' }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1>Asignación por persona</h1>
            <div class="col-sm-12 my-3">
                <div class="mb-3">
                    <label>Persona</label>
                    <select class="form-control" id="cmbPerson">
                        <option value="">Seleccione...</option>
                        {% for person in users %}
                            <option value="{{ person.id }}" {{ user and person.id is same as user.id ? 'selected' : '' }}>{{ person.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    {% if loans|length %}
                        <h3>Eventos abiertos</h3>
                        {% for event,item in loans|filter(e => e.data.returnDate is empty or date(e.data.returnDate) >= date()) %}
                            <div class="card border-warning mb-3 shadow">
                                <div class="card-header">{{ event }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <h4 class="badge text-bg-primary">Fecha {{ item.data.date }}</h4>
                                        {% if item.data.returnDate %}
                                            <h4 class="badge text-bg-success">Cierre {{ item.data.returnDate }}</h4>
                                        {% endif %}
                                    </h5>
                                    <table class="table table-hover">
                                        {% for row in item.rows %}
                                            <tr class="{{ row.endDate is empty and item.data.returnDate and date(item.data.returnDate) < date() ? 'table-danger' : '' }}">
                                                <td>{{ row.region }}</td>
                                                <td>{{ row.item }}</td>
                                                <td>{{ row.info }}</td>
                                                <td>{{ row.startDate }}</td>
                                                <td>{{ row.endDate }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                            data-bs-target="#delete-{{ row.id }}"></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endfor %}

                        <h3>Eventos cerrados</h3>
                        {% for event,item in loans|filter(e => e.data.returnDate is not empty and date(e.data.returnDate) < date()) %}
                            <div class="card border-info mb-3 shadow">
                                <div class="card-header">{{ event }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <h4 class="badge text-bg-primary">Fecha {{ item.data.date }}</h4>
                                        {% if item.data.returnDate %}
                                            <h4 class="badge text-bg-success">Cierre {{ item.data.returnDate }}</h4>
                                        {% endif %}
                                    </h5>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            {% for row in item.rows %}
                                                <tr class="{{ row.endDate is empty and item.data.returnDate and date(item.data.returnDate) < date() ? 'table-danger' : '' }}">
                                                    <td>{{ row.region }}</td>
                                                    <td>{{ row.item }}</td>
                                                    <td>{{ row.info }}</td>
                                                    <td>{{ row.startDate }}</td>
                                                    <td>{{ row.endDate }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-sm"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#delete-{{ row.id }}">Entrega
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('turbo:load', () => {
            document.querySelectorAll('select#cmbPerson').forEach(function (el) {
                if (el.dataset.bound) {
                    return
                }

                el.addEventListener('change', (e) => refreshPage(e.currentTarget.value))

                el.dataset.bound = 'true'
            })
        })

        const refreshPage = (userId) => {
            if (!userId) {
                return
            }
            const url = '{{ path('app_loan_user') }}'
            location.href = url + '/' + userId
        }
    </script>
{% endblock %}
