{% set formClass = form.vars.submitted ? 'was-validated' : 'needs-validation' %}

<div class="form-wrapper mt-4">
    {{ form_start(form, {'attr': {'class': formClass}}) }}
    {{ form_errors(form) }}

    {% include 'partials/_form-field.html.twig' with {'field': form.region, 'label': 'Región'} %}

    {% include 'partials/_form-field.html.twig' with {'field': form.name, 'label': 'Pieza'} %}

    <div class="w-100 my-3 me-2 d-flex justify-content-between">
        <h4 class="me-2">Inventario</h4>
        <button type="button" class="btn btn-info btn-sm js-add-inventory">
            <i class="fas fa-plus"></i> Agregar
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-sm" id="tableInventory">
            {% for row in form.inventory %}
                <tr>
                    <td style="width: 150px">
                        {% include 'partials/_form-field.html.twig' with {'field': row.quantity, 'label': 'Total'} %}
                    </td>
                    <td>
                        {% include 'partials/_form-field.html.twig' with {'field': row.size, 'label': 'Talla'} %}
                    </td>
                    <td>
                        {% include 'partials/_form-field.html.twig' with {'field': row.color, 'label': 'Descripción'} %}
                    </td>
                    <td>
                        <button type="button" class="float-end mt-3 btn btn-danger js-remove-inventory">
                            <i class="fa-solid fa-times"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <template data-form-collection-target="template" id="inventoryTemplate">
        <td class="w-25">{% include 'partials/_form-field.html.twig' with {'field': form.inventory.vars.prototype.quantity, 'label': 'Cantidad'} %}</td>
        <td class="w-25">{% include 'partials/_form-field.html.twig' with {'field': form.inventory.vars.prototype.size, 'label': 'Talla'} %}</td>
        <td>{% include 'partials/_form-field.html.twig' with {'field': form.inventory.vars.prototype.color, 'label': 'Color'} %}</td>
    </template>

    {{ form_rest(form) }}

    <div class="d-flex justify-content-between mt-4">
        <a class="btn btn-light" href="{{ path('app_item_index') }}">
            <i class="fa-solid fa-arrow-left"></i> Volver
        </a>
        {% block form_buttons %}{% endblock %}
        <button class="btn btn-success">
            <i class="fa-solid fa-check"></i> Guardar
        </button>
    </div>

    {{ form_end(form) }}
</div>

<script>
    document.addEventListener('turbo:load', () => {
        document.querySelectorAll('.js-add-inventory').forEach(function (el) {
            if (el.dataset.bound) return

            el.addEventListener('click', function () {
                addInventoryRow()
            })

            el.dataset.bound = 'true'
        })

        document.querySelectorAll('.js-remove-inventory').forEach(function (el) {
            if (el.dataset.bound) return

            el.addEventListener('click', function (e) {
                removeInventoryRow(e.currentTarget)
            })

            el.dataset.bound = 'true'
        })

        const addInventoryRow = () => {
            const table = document.getElementById('tableInventory')
            // console.log('table', table)
            const template = document.getElementById('inventoryTemplate')
            // console.log('template', template)
            const index = document.querySelectorAll('#tableInventory tr').length
            // console.log('index', index)
            const row = document.createElement('tr')
            row.innerHTML = template.innerHTML.replace(/__name__/g, index.toString())
            // console.log('content', row)
            table.appendChild(row)
        }

        const removeInventoryRow = (el) => {
            const row = el.closest('tr')
            row.remove()
        }
    })
</script>
