{% set ADMIN = 'ROLE_ADMIN' %}

{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .fa-square-check {
            color: greenyellow;
        }
        .fa-user-gear {
            color: deepskyblue;
        }
        .fa-user-check {
            color: lawngreen;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row px-1">
        <h1 class="mb-3">Lista de Usuarios</h1>

        <a type="button" class="btn btn-primary mx-auto" href="{{ path('app_user_new') }}">
            <i class="fa-regular fa-plus"></i> Nuevo usuario
        </a>

        <table class="table table-dark table-striped table-hover js-datatable" id="userTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Perfil completo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">{{ ADMIN in user.roles ? '<i class="fa-solid fa-user-gear"></i>' : '' }}</td>
                    <td class="text-center">{{ user.isProfileComplete ? '<i class="fa-solid fa-user-check"></i>' : '' }}</td>
                    <td>
                        <a class="float-end mx-1 btn btn-light btn-sm"
                           href="{{ path('app_user_profile', {'id': user.id}) }}">
                            <i class="fa-solid fa-list-check"></i>
                        </a>
                        <a class="float-end mx-1 btn btn-warning btn-sm"
                           href="{{ path('app_user_edit', {'id': user.id}) }}">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a class="float-end mx-1 btn btn-info btn-sm"
                           href="{{ path('app_user_show', {'id': user.id}) }}">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
